# Ignore Python cache files
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / editor configs
.vscode/
*.swp

# Virtualenv / pipenv / conda envs
env/
venv/
.venv/

# PyTorch / model training artifacts
*.pth
*.pt
*.ckpt
*.onnx

# Logs, debug, and profiling outputs
*.log
*.tmp
*.profile

# Ignore specific local folders
static/*
backend/ai/debug_outputs/
backend/ai/experiment_data/
backend/ai/final_data/
backend/ai/ref_data/
backend/ai/gauge_dir
mesh-experiments/debug_renders
certbot/

# Ignore large temporary data
*.npy
*.npz
*.h5
*.csv
*.jsonl

# Ignore system junk
.DS_Store
Thumbs.db
